/*
This part applies to 0px to 992 px */
body{
  margin:0;
  padding:0;
  height: 100vh;
  background-color: #c5dbdd;
}

#container {
  padding-top: 2%;
}

#board {
  width: 70vw;
  height: 65vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: visible;
}

.cellN{
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  display: flex;
  background-color: #edf5f4;
}

.cellG {
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  background-color: #79D794;
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.cellB {
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  background-color: #378CBC;
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.cellY {
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  /*background-color: #FFCCBB;*/
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.cellR {
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  background-color: #FB4B83;
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.cellS {
  width: 5.4%;
  height: 6%;
  border-style: ridge;
  color: white;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.scoreBoards{
    float: left;
    margin: 2% 1% 0 4%;
    height: 20vh;
    width: 15vw;
  }

  .playerScoreBoards{
    margin-top: 13%;
    height: 30vh;
    width: 80vw;
    background-color: 	#edf5f4;
    border-style: ridge;
    overflow: visible;
    /*border: solid 2px black;*/
  }

  .play{
    width: 100vw;
    height: 32.5vh;
    color: white;
    background-color: #79D794;
  }

  .swap{
    width: 100vw;
    height: 32.5vh;
    color: white;
    background-color: #378CBC;
  }

  .scoreBoarder{
    height: 32.5vh;
    border-style: ridge;
    text-align: center
  }

  .score{
    font-size: 20vw;
    display: inline-block;
    vertical-align: middle;
  }

  .tileHolder{
    width: 40vw;
    display: flex;
    height: 5%;
    margin-top: 11vh;
    margin-left: 40%;
  }

  .tile {
    position: relative;
    flex-grow: 1;
    max-width: 100px;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    vertical-align: top;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    z-index: auto;
    font-weight: bold;
    font-size: 1.2vw;
    z-index:1
  }

  .tilePoints{
    position: absolute;
    font-size: 0.5vw;
    padding-left: 10%;
    padding-top: 10%

  }

  #tilesLeftBoarder{
    float: right;
    margin: 2% 1% 1% 0%;
    height: 85%;
    font-size: 3.8vw;
    color: white
  }

  #numberTiles{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }

  #tilesText{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }


  #title{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }


  .scoreBoards{
    float: left;
    margin: 2% 1% 0 4%;
    height: 85%;
    width: 15%;
    /*border: solid 2px black;*/
  }

  .playerScoreBoards{
    margin-top: 13%;
    height: 30%;
    width: 80%;
    background-color: 	#edf5f4;
    border-style: ridge;
    overflow: visible;
    /*border: solid 2px black;*/
  }

  .play{
    width: 100%;
    height: 32.5%;
    color: white;
    background-color: #79D794;
  }

  .swap{
    width: 100%;
    height: 32.5%;
    color: white;
    background-color: #378CBC;
  }

  .scoreBoarder{
    height: 32.5%;
    border-style: ridge;
    text-align: center
  }

  .score{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .tileHolder{
    width: 30vw;
    display: flex;
    height: 5%;
    margin-top: 11%;
    margin-left: 40%;
  }

  .tile {
    position: relative;
    flex-grow: 1;
    max-width: 100px;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    vertical-align: top;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    z-index: auto;
    font-weight: bold;
    font-size: 1.2vw;
    z-index:1
  }

  .tilePoints{
    position: absolute;
    font-size: 0.5vw;
    padding-left: 10%;
    padding-top: 10%

  }

  #tilesLeftBoarder{
    float: right;
    margin: 2% 1% 1% 0%;
    height: 85%;
    font-size: 3.8vw;
    color: white
  }

  #numberTiles{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }

  #tilesText{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }


  #title{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }


@media (min-width: 992px){
  #board {
    width: 70%;
    height: 70vh;
  }

  .cellN{
    width: 5.8%;
    height: 7%;
    background-color: #edf5f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellG {
    width: 5.8%;
    height: 7%;
    border-style: ridge;
    background-color: #79D794;
    color: white;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellB {
    width: 5.8%;
    height: 7%;
    border-style: ridge;
    background-color: #378CBC;
    color: white;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellY {
    width: 5.8%;
    height: 7%;
    border-style: ridge;
    background-color: #f7dd80;
    border-style: ridge;
    text-align: center;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellR {
    width: 5.8%;
    height: 7%;
    border-style: ridge;
    background-color: #FB4B83;
    color: white;
    text-align: center;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cellS {
    width: 5.8%;
    height: 7%;
    border-style: ridge;
    display: flex;
    color: white;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;

  }

  .scoreBoards{
    float: left;
    margin: 2% 1% 0 4%;
    height: 85%;
    width: 15%;
    /*border: solid 2px black;*/
  }

  .playerScoreBoards{
    margin-top: 13%;
    height: 30%;
    width: 80%;
    background-color: 	#edf5f4;
    border-style: ridge;
    overflow: visible;
    /*border: solid 2px black;*/
  }

  .play{
    width: 100%;
    height: 32.5%;
    color: white;
    background-color: #79D794;
  }

  .swap{
    width: 100%;
    height: 32.5%;
    color: white;
    background-color: #378CBC;
  }

  .scoreBoarder{
    height: 32.5%;
    border-style: ridge;
    text-align: center
  }

  .score{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .tileHolder{
    width: 30vw;
    display: flex;
    height: 5%;
    margin-top: 11%;
    margin-left: 40%;
  }

  .tile {
    position: relative;
    flex-grow: 1;
    max-width: 100px;
    height: 100%;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    vertical-align: top;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    z-index: auto;
    font-weight: bold;
    font-size: 1.2vw;
    z-index:1
  }

  .tilePoints{
    position: absolute;
    font-size: 0.5vw;
    padding-left: 10%;
    padding-top: 10%

  }

  #tilesLeftBoarder{
    float: right;
    margin: 2% 1% 1% 0%;
    height: 85%;
    font-size: 3.8vw;
    color: white
  }

  #numberTiles{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }

  #tilesText{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }


  #title{
    font-size: 3.8vw;
    color: white;
    margin: 0;
  }

  .color {
    border-color: #FB4B83;
  }

}
